* {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 10px;
}
.input-wrapper > div {
    width: 50%;
    display: inline-block;
}
.input-wrapper > div > div {
    width: 95%;
}

.price-paper {
    width: 125px;
    display: inline-block;
    margin: 8px 8px 8px 0;
    padding: 15px;
    border: 1px solid #f6f6f6;
    /* transition: all 0.3s ease; */
    cursor: pointer;
}

.price-paper:hover, .price-paper.active {
    border: 1px solid #2196f3;
}

.app-wrapper {
    min-height: 100vh;
    background-color: #eeeeee;
    padding-top: 30px;
}

.add-product-wrapper {
    width: 80%;
    margin-left: 10%;
}

.step-title {
    font-size: 16px;
}

.price-type {
    font-size: 12px;
    opacity: 0.6;
}

.product-price {
    font-size: 32px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}

.btn-loading {
    position: absolute;
}

.tags-wrapper {
    padding-left: 0;
}

.tags-wrapper li {
    background-color: #e10050;
    color: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    padding: 3px 3px 3px 15px;
    list-style: none;
    margin-right: 10px;
    margin-top: 5px;
}

.tags-wrapper > li > i {
    padding-left: 10px;
    cursor: pointer;
}

.price-btn-wrapper {
    margin-top: 10px;
}

form.add-tags-form div input, .add-tags-form div {
    width: 65%;
}

@media (max-width: 1200px)  {
    form.add-tags-form div input, .add-tags-form div {
        width: 75%;
    }
}

@media (max-width: 992px)  {
    form.add-tags-form div input, .add-tags-form div {
        width: 85%;
    }
}

@media (max-width: 767px)  {
    form.add-tags-form div input, .add-tags-form div {
        width: 100%;
    }
}

@media (max-width: 1160px)  {
    .down-switch, .down-switch + span {
        margin-top: -15px;
    }
}

